<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>

    <form method="post">
        Name:
        <input type="text" name="Name" /><br />
        Email:
        <input type="email" name="Email" /><br />
        Phone:
        <input type="text" name="Phone" /><br />

        Will you attend?
        <select name="question">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        <input type="submit" value="Submit"/>
    </form>

</body>
</html>