@Model Employee
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Thank you, @Model.Name</h1>
    <p>Your Information added to the database!</p>
</body>
</html>