
@model int

<div class="btn-group" role="group" aria-label="Basic example">
    <a href="@Url.Action("Details", new {id = Model})" class="btn btn-primary btn-sm">
        <i class="far fa-eye"></i>
    </a>
    <a href="@Url.Action("Edit", new {id = Model})" class="btn btn-success btn-sm">
        <i class="far fa-edit"></i>
    </a>
    <a href="@Url.Action("Delete", new {id = Model})" class="btn btn-danger btn-sm">
        <i class="far fa-trash-alt"></i>
    </a>
</div>